<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="InquiryGet"> SELECT BOARD_NO,USER_ID,BOARD_TITLE,BOARD_DATE,BOARD_COUNT FROM BOARD JOIN MEMBER ON (BOARD_WRITER = USER_NO) WHERE BOARD_STATUS = 'Y' AND BCATEGORY_NO = ? </entry>
<entry key="InquiryDetail"> SELECT BOARD_NO,USER_ID,BOARD_TITLE,BOARD_CONTENT,BOARD_DATE,BOARD_COUNT FROM BOARD JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE BOARD_NO = ? AND BOARD_STATUS = 'Y' </entry>
<!--  USER_ID를 넘겨야함  -->
<entry key="InquiryInsert"> INSERT INTO BOARD (BOARD_NO,BCATEGORY_NO,BOARD_WRITER,BOARD_TITLE,BOARD_CONTENT) VALUES(SEQ_BNO.NEXTVAL,2,?,?,?) </entry>
<entry key="InquiryDelete"> UPDATE BOARD SET BOARD_STATUS = 'N' WHERE BOARD_NO = ? </entry>
<entry key="increaseCount"> UPDATE BOARD SET BOARD_COUNT = BOARD_COUNT+1 WHERE BOARD_NO = ? </entry>
<entry key="InquiryUpdate"> UPDATE BOARD SET BOARD_TITLE = ? ,BOARD_CONTENT = ? ,BOARD_DATE = SYSDATE WHERE BOARD_NO = ? </entry>
<entry key="selectListCount"> SELECT COUNT(*) COUNT FROM BOARD WHERE BCATEGORY_NO = 2 AND BOARD_STATUS = 'Y' </entry>
<entry key="selectList"> SELECT * FROM(SELECT ROWNUM RNUM,A.* FROM(SELECT BOARD_NO ,USER_ID ,BOARD_TITLE ,BOARD_DATE ,BOARD_COUNT FROM BOARD B JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE B.BOARD_STATUS = 'Y' AND BCATEGORY_NO = ? ORDER BY BOARD_DATE DESC)A) WHERE RNUM BETWEEN ? AND ? </entry>
<entry key="insertAttachment"> INSERT INTO BOARD_ATTA(FILE_NO ,BOARD_NO ,ORIGIN_NAME ,SAVE_NAME ,FILE_PATH) VALUES(SEQ_BD_INO.NEXTVAL,SEQ_BNO.CURRVAL,?,?,?) </entry>
<entry key="selectUserList"> SELECT * FROM(SELECT ROWNUM RNUM,A.* FROM(SELECT BOARD_NO ,USER_ID ,BOARD_TITLE ,BOARD_DATE ,BOARD_COUNT FROM BOARD B JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE B.BOARD_STATUS = 'Y' AND BCATEGORY_NO = ? AND USER_NO = ? ORDER BY BOARD_DATE DESC)A) WHERE RNUM BETWEEN ? AND ? </entry>
<entry key="selectUserListCount"> SELECT COUNT(*) COUNT FROM BOARD WHERE BCATEGORY_NO = 2 AND BOARD_STATUS = 'Y' AND BOARD_WRITER = ? </entry>
<entry key="InquiryAdminDelete"> UPDATE BOARD SET BOARD_STATUS = 'N' WHERE BOARD_NO =? </entry>
<entry key="selectAttachment"> SELECT FILE_NO ,ORIGIN_NAME ,SAVE_NAME ,FILE_PATH FROM BOARD_ATTA WHERE BOARD_NO = ? </entry>
<entry key="replyGet"> SELECT REPLY_NO ,USER_NAME ,REPLY ,REPLY_DEPTH ,REPLY_SORT ,REPLY_GROUP ,REPLY_DATE FROM REPLY R JOIN MEMBER M ON (BOARD_WRITER=USER_NO) WHERE R.STATUS = 'Y' AND REF_BNO = ? ORDER BY REPLY_GROUP,REPLY_DEPTH </entry>
<entry key="selectSearchCount"> SELECT count(*) COUNT FROM BOARD WHERE BOARD_TITLE LIKE ? AND BCATEGORY_NO = ? AND BOARD_STATUS = 'Y' </entry>
<entry key="searchGet"> SELECT * FROM(SELECT ROWNUM RNUM,A.* FROM(SELECT BOARD_NO ,USER_ID ,BOARD_TITLE ,BOARD_DATE ,BOARD_COUNT FROM BOARD B JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE B.BOARD_STATUS = 'Y' AND BCATEGORY_NO = ? AND BOARD_TITLE LIKE ? AND BOARD_STATUS = 'Y' ORDER BY BOARD_DATE DESC)A) WHERE RNUM BETWEEN ? AND ? </entry>
<entry key="ReplyGroupInsert"> INSERT INTO REPLY(REPLY_NO ,REF_BNO ,BOARD_WRITER ,REPLY ,REPLY_DEPTH ,REPLY_SORT ,REPLY_GROUP) VALUES(SEQ_BD_RNO.NEXTVAL,?,?,?,?,?,(SELECT NVL(MAX(REPLY_GROUP+1),'0') FROM REPLY WHERE REF_BNO = ?)) </entry>
<entry key="ReplyInsert"> INSERT INTO REPLY(REPLY_NO ,REF_BNO ,BOARD_WRITER ,REPLY ,REPLY_DEPTH ,REPLY_SORT ,REPLY_GROUP) VALUES(SEQ_BD_RNO.NEXTVAL,?,?,?,?,?,?) </entry>
<entry key="ReplyIncreaseDepth"> UPDATE REPLY SET REPLY_DEPTH = REPLY_DEPTH+1 WHERE REPLY_DEPTH >= ? AND REPLY_GROUP = ? AND REF_BNO = ? </entry>
<entry key="ReplyDelete">
UPDATE REPLY SET STATUS = 'N' WHERE REPLY_GROUP = ? AND REPLY_DEPTH >= ? AND REPLY_SORT >= ?
<![CDATA[ AND REPLY_DEPTH <= NVL((SELECT MIN(REPLY_DEPTH) ]]>
FROM REPLY WHERE REPLY_GROUP = ? AND REPLY_DEPTH > ?
<![CDATA[ AND REPLY_SORT <= 1),(SELECT MAX(REPLY_DEPTH) ]]>
FROM REPLY WHERE REPLY_GROUP =?))
</entry>
<entry key="ReplyDeleteDepth"> UPDATE REPLY SET REPLY_DEPTH = REPLY_DEPTH - ? WHERE REPLY_GROUP = ? AND REPLY_DEPTH >= ? </entry>
	
	
<!--faq영역 -->

   <entry key="InquiryGet"> SELECT BOARD_NO,USER_ID,BOARD_TITLE,BOARD_DATE,BOARD_COUNT FROM BOARD JOIN MEMBER ON (BOARD_WRITER = USER_NO) WHERE BOARD_STATUS = 'Y' AND BCATEGORY_NO = ? </entry>
<entry key="InquiryDetail"> SELECT BOARD_NO,USER_ID,BOARD_TITLE,BOARD_CONTENT,BOARD_DATE,BOARD_COUNT FROM BOARD JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE BOARD_NO = ? AND BOARD_STATUS = 'Y' </entry>
<!--  USER_ID를 넘겨야함  -->
<entry key="InquiryInsert"> INSERT INTO BOARD (BOARD_NO,BCATEGORY_NO,BOARD_WRITER,BOARD_TITLE,BOARD_CONTENT) VALUES(SEQ_BNO.NEXTVAL,2,?,?,?) </entry>
<entry key="InquiryDelete"> UPDATE BOARD SET BOARD_STATUS = 'N' WHERE BOARD_NO = ? </entry>
<entry key="increaseCount"> UPDATE BOARD SET BOARD_COUNT = BOARD_COUNT+1 WHERE BOARD_NO = ? </entry>
<entry key="InquiryUpdate"> UPDATE BOARD SET BOARD_TITLE = ? ,BOARD_CONTENT = ? ,BOARD_DATE = SYSDATE WHERE BOARD_NO = ? </entry>
<entry key="selectListCount"> SELECT COUNT(*) COUNT FROM BOARD WHERE BCATEGORY_NO = 2 AND BOARD_STATUS = 'Y' </entry>
<entry key="selectList"> SELECT * FROM(SELECT ROWNUM RNUM,A.* FROM(SELECT BOARD_NO ,USER_ID ,BOARD_TITLE ,BOARD_DATE ,BOARD_COUNT FROM BOARD B JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE B.BOARD_STATUS = 'Y' AND BCATEGORY_NO = ? ORDER BY BOARD_DATE DESC)A) WHERE RNUM BETWEEN ? AND ? </entry>
<entry key="insertAttachment"> INSERT INTO BOARD_ATTA(FILE_NO ,BOARD_NO ,ORIGIN_NAME ,SAVE_NAME ,FILE_PATH) VALUES(SEQ_BD_INO.NEXTVAL,SEQ_BNO.CURRVAL,?,?,?) </entry>
<entry key="selectUserList"> SELECT * FROM(SELECT ROWNUM RNUM,A.* FROM(SELECT BOARD_NO ,USER_ID ,BOARD_TITLE ,BOARD_DATE ,BOARD_COUNT FROM BOARD B JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE B.BOARD_STATUS = 'Y' AND BCATEGORY_NO = ? AND USER_NO = ? ORDER BY BOARD_DATE DESC)A) WHERE RNUM BETWEEN ? AND ? </entry>
<entry key="selectUserListCount"> SELECT COUNT(*) COUNT FROM BOARD WHERE BCATEGORY_NO = 2 AND BOARD_STATUS = 'Y' AND BOARD_WRITER = ? </entry>
<entry key="InquiryAdminDelete"> UPDATE BOARD SET BOARD_STATUS = 'N' WHERE BOARD_NO =? </entry>
<entry key="selectAttachment"> SELECT FILE_NO ,ORIGIN_NAME ,SAVE_NAME ,FILE_PATH FROM BOARD_ATTA WHERE BOARD_NO = ? </entry>
<entry key="replyGet"> SELECT REPLY_NO ,USER_NAME ,REPLY ,REPLY_DEPTH ,REPLY_SORT ,REPLY_GROUP ,REPLY_DATE FROM REPLY R JOIN MEMBER M ON (BOARD_WRITER=USER_NO) WHERE R.STATUS = 'Y' AND REF_BNO = ? ORDER BY REPLY_GROUP,REPLY_DEPTH </entry>
	
	<entry key="selectSearchCount">
		SELECT count(*) COUNT 
		FROM BOARD 
		WHERE BOARD_TITLE LIKE ? 
		AND BCATEGORY_NO = ? 
		AND BOARD_STATUS = 'Y' 
	</entry>
	
	<entry key="searchGet">
		SELECT * 
		FROM(SELECT ROWNUM RNUM,A.* 
			 FROM(SELECT BOARD_NO ,USER_ID ,BOARD_TITLE ,BOARD_DATE ,BOARD_COUNT 
			 	  FROM BOARD B JOIN MEMBER ON(BOARD_WRITER=USER_NO) 
			 	  WHERE B.BOARD_STATUS = 'Y' 
			 	  AND BCATEGORY_NO = ? 
			 	  AND BOARD_TITLE LIKE ? 
			 	  AND BOARD_STATUS = 'Y' 
			 	  ORDER BY BOARD_DATE DESC)A)
			 WHERE RNUM BETWEEN ? AND ?
	</entry>

<entry key="ReplyGroupInsert"> INSERT INTO REPLY(REPLY_NO ,REF_BNO ,BOARD_WRITER ,REPLY ,REPLY_DEPTH ,REPLY_SORT ,REPLY_GROUP) VALUES(SEQ_BD_RNO.NEXTVAL,?,?,?,?,?,(SELECT NVL(MAX(REPLY_GROUP+1),'0') FROM REPLY WHERE REF_BNO = ?)) </entry>
<entry key="ReplyInsert"> INSERT INTO REPLY(REPLY_NO ,REF_BNO ,BOARD_WRITER ,REPLY ,REPLY_DEPTH ,REPLY_SORT ,REPLY_GROUP) VALUES(SEQ_BD_RNO.NEXTVAL,?,?,?,?,?,?) </entry>
<entry key="ReplyIncreaseDepth"> UPDATE REPLY SET REPLY_DEPTH = REPLY_DEPTH+1 WHERE REPLY_DEPTH >= ? AND REPLY_GROUP = ? AND REF_BNO = ? </entry>
<entry key="ReplyDelete">
UPDATE REPLY SET STATUS = 'N' WHERE REPLY_GROUP = ? AND REPLY_DEPTH >= ? AND REPLY_SORT >= ?
<![CDATA[ AND REPLY_DEPTH <= NVL((SELECT MIN(REPLY_DEPTH) ]]>
FROM REPLY WHERE REPLY_GROUP = ? AND REPLY_DEPTH > ?
<![CDATA[ AND REPLY_SORT <= 1),(SELECT MAX(REPLY_DEPTH) ]]>
FROM REPLY WHERE REPLY_GROUP =?))
</entry>
<entry key="ReplyDeleteDepth"> UPDATE REPLY SET REPLY_DEPTH = REPLY_DEPTH - ? WHERE REPLY_GROUP = ? AND REPLY_DEPTH >= ? </entry>
<!-- faq영역  -->
<!-- faq목록 삭제해줌  -->
<entry key="getFaqDelete"> UPDATE BOARD SET BOARD_STATUS='N' WHERE BOARD_NO=? </entry>
<!-- faq 목록 보여줌  -->
<entry key="getFaqGet"> 
SELECT BOARD_TITLE, BOARD_CONTENT, BOARD_NO, BCATEGORY_NO 
FROM BOARD 
WHERE BCATEGORY_NO=? 
AND BOARD_STATUS='Y' </entry>
<!--  faq작성  -->
<entry key="getFaqInsert"> INSERT INTO BOARD(BOARD_NO, BCATEGORY_NO, BOARD_WRITER, BOARD_TITLE, BOARD_CONTENT) VALUES(SEQ_BNO.NEXTVAL,?,1,?,?) </entry>
<!--  faq수정폼  -->
<entry key="getFaqUpdateForm"> SELECT BOARD_TITLE, BOARD_CONTENT, BOARD_NO, BCATEGORY_NO FROM BOARD WHERE BOARD_NO=? </entry>
<!--  faq 실제 수정과정  -->
<entry key="getFaqUpdate"> UPDATE BOARD SET BOARD_TITLE=?, BOARD_CONTENT=? WHERE BOARD_NO=? </entry>
<!--  faq 검색  1110 추가 -->
<entry key="faqSearch"> SELECT BOARD_TITLE, BOARD_CONTENT, BOARD_NO, BCATEGORY_NO FROM BOARD WHERE BOARD_TITLE LIKE ? AND BCATEGORY_NO BETWEEN 3 AND 10 </entry>
<!-- 공지영역  -->
<!--  글 삭제하기  -->
<entry key="getNoticeDelete"> UPDATE BOARD SET BOARD_STATUS='N' WHERE BOARD_NO=? </entry>
<!--  공지목록 조회해줌  -->
<entry key="getNoticeGet"> SELECT * FROM ( SELECT ROWNUM RNUM,A.* FROM(SELECT BOARD_NO, USER_ID, BOARD_TITLE, BOARD_CONTENT ,BOARD_DATE, BOARD_COUNT FROM BOARD B JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE B.BCATEGORY_NO=? AND B.BOARD_STATUS='Y' ORDER BY BOARD_DATE DESC)A ) WHERE RNUM BETWEEN ? AND ? </entry>
<!--  페이징처리 총게시글의 개수구하기  -->
<entry key="selectListCount"> SELECT COUNT(*) COUNT FROM BOARD WHERE BCATEGORY_NO=1 AND BOARD_STATUS='Y' </entry>
<!--  글 상세보기1 조회수 증가시켜주기 UPDATE  -->
<entry key="increaseNoticeCount"> UPDATE BOARD SET BOARD_COUNT=BOARD_COUNT+1 WHERE BOARD_NO=? AND BCATEGORY_NO=? AND BOARD_STATUS='Y' </entry>
<!-- 글 상세보기2 SELECT -->
<entry key="getNoticeDetail"> SELECT BOARD_NO, USER_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_COUNT FROM BOARD JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE BOARD_STATUS='Y' AND BOARD_NO=? AND BCATEGORY_NO=? </entry>
<entry key="selectAttachment"> SELECT FILE_NO ,ORIGIN_NAME ,SAVE_NAME ,FILE_PATH FROM BOARD_ATTA WHERE BOARD_NO =? </entry>
<!--  공지글작성1  INSERT -->
<entry key="getNoticeInsert"> INSERT INTO BOARD(BOARD_NO ,BCATEGORY_NO ,BOARD_TITLE ,BOARD_CONTENT ,BOARD_WRITER) VALUES(SEQ_BNO.NEXTVAL,1,?,?,?) </entry>
<!--  공지글 작성2-파일첨부 INSERT  -->
<entry key="insertAttachment"> INSERT INTO BOARD_ATTA(FILE_NO ,BOARD_NO ,ORIGIN_NAME ,SAVE_NAME ,FILE_PATH) VALUES (SEQ_BD_INO.NEXTVAL,SEQ_BNO.CURRVAL,?,?,?) </entry>
<!--  수정 글 불러오기  -->
<entry key="getNoticeUpdateForm"> SELECT BOARD_NO, USER_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_COUNT FROM BOARD JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE BOARD_STATUS='Y' AND BOARD_NO=? </entry>
<!--  글수정하기 실행 -->
<entry key="getNoticeUpdate"> UPDATE BOARD SET BOARD_TITLE = ? ,BOARD_CONTENT = ? WHERE BOARD_NO = ? AND BOARD_STATUS = 'Y' </entry>
<!--  파일 수정하기  -->
<entry key="updateAttachment"> UPDATE BOARD_ATTA SET ORIGIN_NAME = ? ,SAVE_NAME = ? ,FILE_PATH = ? ,UPLOAD_DATE = SYSDATE WHERE FILE_NO = ? </entry>
<!-- 파일수정하기 기존첨부파일이 없을때 새로수정하기  -->
<entry key="insertNewAttachment"> INSERT INTO BOARD_ATTA(FILE_NO ,BOARD_NO ,ORIGIN_NAME ,SAVE_NAME ,FILE_PATH) VALUES (SEQ_BD_INO.NEXTVAL,?,?,?,?) </entry>
<!-- 공지검색 숫자세기  -->
<entry key="noticeSearchCount"> SELECT count(*) COUNT FROM BOARD WHERE BOARD_TITLE LIKE ? AND BCATEGORY_NO = ? AND BOARD_STATUS = 'Y' </entry>
<!--  공지검색결과 리스트 셀렉  -->
<entry key="noticeSearchGet"> SELECT * FROM(SELECT ROWNUM RNUM,A.* FROM(SELECT BOARD_NO ,USER_ID ,BOARD_TITLE ,BOARD_DATE ,BOARD_COUNT FROM BOARD B JOIN MEMBER ON(BOARD_WRITER=USER_NO) WHERE B.BOARD_STATUS = 'Y' AND BCATEGORY_NO=? AND BOARD_TITLE LIKE ? ORDER BY BOARD_DATE DESC)A) WHERE RNUM BETWEEN ? AND ? </entry>
</properties>