<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="orderGetList">
		SELECT ORDER_DATE, ORDER_NO, PRODUCT_NAME, ORDER_STATUS, ORDER_COUNT, PRODUCT_PRICE, SAVE_NAME
			    FROM (
			        SELECT ORDER_DATE, ORDER_NO, PRODUCT_NAME, ORDER_STATUS
			            , RANK() OVER (PARTITION BY ORDER_NO ORDER BY PRODUCT_NAME) AS RANK
			            , COUNT(ORDER_NO) OVER (PARTITION BY ORDER_NO) AS ORDER_COUNT
		                , SUM(D.PRODUCT_PRICE) OVER (PARTITION BY ORDER_NO) AS PRODUCT_PRICE
		                , SAVE_NAME
			        FROM ORDER_DETAIL D
			        JOIN ORDER_INFO USING(ORDER_NO)
			        JOIN PRODUCT USING(PRODUCT_NO)
			        JOIN PRODUCT_ATTA USING(PRODUCT_NO)
			        WHERE USER_NO = ?
			    ) T
		WHERE RANK = 1
	</entry>
	<entry key="orderGet">
		SELECT
			PRODUCT_NO, PRODUCT_NAME, OD.PRODUCT_COUNT, P.PRODUCT_PRICE AS PRODUCT_PRICE, OD.PRODUCT_PRICE AS ORDER_DETAIL_NO, SAVE_NAME
			FROM ORDER_DETAIL OD
			JOIN PRODUCT P USING(PRODUCT_NO)
			JOIN PRODUCT_ATTA PA USING(PRODUCT_NO)
		WHERE ORDER_NO = ?
		ORDER BY PRODUCT_NAME
	</entry>
	<entry key="orderGetInfo">
		SELECT DISTINCT RECEVER_NAME, RECEVER_PHONE, ADDRESS, SUM(PRODUCT_PRICE) OVER (PARTITION BY ORDER_NO) AS PRODUCT_PRICE, ORDER_STATUS, ORDER_DATE
		FROM ORDER_INFO
		JOIN ORDER_DETAIL USING(ORDER_NO)
		WHERE ORDER_NO = ?
	</entry>
	<entry key="orderDelete">
		UPDATE ORDER_INFO
		SET ORDER_STATUS = 'N'
		WHERE ORDER_NO = ?
	</entry>
	
	<entry key="cartGetList">
		SELECT CART_NO, PRODUCT_NO, PRODUCT_NAME, USER_NO, C.PRODUCT_COUNT AS PRODUCT_COUNT, SAVE_NAME, P.PRODUCT_PRICE
		, CASE WHEN PRODUCT_DISCOUNT = 0 THEN PRODUCT_PRICE
		        ELSE ROUND(PRODUCT_PRICE-(PRODUCT_PRICE*(PRODUCT_DISCOUNT/100)))
		        END AS PAYMENT_PRICE
		FROM CART C
		JOIN PRODUCT P USING(PRODUCT_NO)
		JOIN PRODUCT_ATTA USING(PRODUCT_NO)
		WHERE USER_NO = ?
		ORDER BY PRODUCT_NAME
	</entry>
	
	<entry key="orderInfoInsert">
		INSERT INTO ORDER_INFO VALUES
		(SEQ_PD_ONO.NEXTVAL, ?, SYSDATE, ?, ?, ?, 'Y')
	</entry>
	
	<entry key="orderDetailInsert">
		INSERT INTO ORDER_DETAIL VALUES
		(SEQ_PD_DNO.NEXTVAL,SEQ_PD_ONO.CURRVAL, ?, ?, ?)
	</entry>
	
	<entry key="cartDelete">
		DELETE CART WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="cartSearch">
		SELECT COUNT(*) AS COUNT FROM CART
		WHERE USER_NO = ?
		AND PRODUCT_NO = ?
	</entry>
	
	<entry key="cartInsert">
		INSERT INTO CART VALUES(SEQ_PD_ZNO.NEXTVAL,?,?,?)
	</entry>
</properties>